#block
{
	margin: 10px auto;
	background-color:yellow;
	min-height: 500px;
	width: 1000px;
}

#header
{
	background-color: #2E9AFE;
	width: 960px;
	height: 40px;
	padding: 20px;
}

#logo
{
	background-color: #2E9AFE;
	width:200px;
	height:40px;
	float: left;
	font-family: fantasy;
	font-size: 18px;
	color: #424242
}

#menu
{
	background-color: #A9D0F5;
	width:760px;
	height:40px;
	float:left;
	font-family: monospace;
	font-size: 16px;
}

#content
{
	background-color: #F8F8FF;
	width: 960px;
	min-height: 400px;
	padding: 20px
}

#footer
{
	background-color: #2E9AFE;
	width: 960px;
	height: 40px;
	padding: 20px;
	font-family: monospace;
	font-size: 16px;
}

#news
{
	font-family: monospace;
	font-size: 16px;
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
	color: #424242
}

#big_header
{
	font-family: monospace;
	color: #424242;
	font-size: 24px;
	font-weight: bold
}

#news_name
{
	font-size: 20px;
	font-weight: bold;
	float: left
}

#news_date
{
	float: right
}

.first_letter
{
	color: #FF4000;
}

.text
{
	font-family: monospace;
	font-size: 16px;
	color: #424242
}
